/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */
body{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    overflow-y: scroll;
    
}

svg{
    fill: rgb(56, 56, 56);
}

.navigation{
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;

}

.navigation button{
    /* border: none; */
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    line-height: 5px;
    /* position: fixed; */
}


.logo{
    width: 130px;
}

.searchBar{
    height: 0px;  
    margin-left: 62px;
}

.navigation__menu,
.navigation__search,
.navigation__options{
    display: flex;
    align-items: center;
}

.navigation__menu img{
    margin-left: 13px;
}

.voiceBtn{
    margin-left: 10px;
}

.navigation__search input{
    width: 538px;
    height: 40px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding-left: 10px;
}

.navigation__search__icon{
    border: 1px solid rgb(211, 211, 211);
    height: 40px;
    width: 65px;
    padding: 1px;
    border-left: none;    
}

.navigation__search__icon svg{
    height: 20px;
    width: 20px;
}

.navigation__search__icon:hover{
    background-color: #e4e4e4;
}

.navigation__menu_button{

    line-height: 5px;
    justify-content: space-around;
}

.navigation__options{
    display: flex;
}

.navigation__options .navigation__button{
    margin-right : 25px;
    /* margin-left : 0px; */
}

.navigation__button{
    height: 36px;
    width : 36px;
    border : none;
    
}

.navigation__avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block; 
    margin-right: 13px;
}
 /* chips */

.chips{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 240px;
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    background-color: white;
    
    
}

.chips__item{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 9px 12px 9px 0;
    font-size: 14px;
    padding: 0 12px;
    line-height: 30px;
    border-radius: 16px;
    background-color:rgba(0, 0, 0, 0.05);
    font-weight: 500;
    cursor: pointer;
 
}

.chips__item:first-child{
    margin-left: 24px;
}

.chips__item--selected{
    background-color: black;
    color: white;
}

/* sidebar */ 
.sidebar{
    width: 240px;
    padding: 12px 0;
    position: absolute;
    top: 56px;
    left: 0;
    bottom: 0;
    height: calc(100vh-56px);
    overflow-y: scroll;
    position: fixed;
}

.sidebar img{
    margin-right: 21px;
    border-radius: 50%;
}

.sidebar__seaction{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0;
}

.sidebar__seaction h3{
    padding-left : 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(96, 96, 96);

}

.sidebar__seaction__link{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    color: rgb(3, 3, 3);
    padding: 0 24px;
    height: 40px;
}

.sidebar__seaction__link svg{
    width: 24px;
    height: 24px;
    margin-right: 24px;
    
}

.sidebar__seaction__link--selected{
    background-color:  rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.sidebar__seaction__link--selected svg {
    fill: #f00;
}

.sidebar__seaction:last-child{
    padding: 16px 24px 0 24px;
    
}

.sidebar__seaction:last-child p{
    font-size: 13px;
    color: #909090;
}

.sidebar__seaction__link--small{
    margin-right: 8px;
    font-size: 13px;
    font-weight: 500;
    color: #606060;
    text-decoration: none;
}

/* feed  */

.feed{
    margin-top: 128px;
    margin-left: 240px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-around; */
    justify-content: center;
    /* overflow-y: scroll; */
}

.feed__item{
    margin: 0 8px 40px 8px;
}


.feed__item__thumbnil{
    width: 269px;
    height: 150px;
    background-color: gray;
}

.feed__item__info{
    display: flex;
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.feed__item__info h3{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
    color: rgb(3, 3, 3);
}

.feed__item__info a{
    text-decoration: none;
    color: unset;
}

.feed__item__info p{
    margin: 0px;
}

.feed__item__info__avatar{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: gray;
    margin: 12px 12px 0 0;
}
