body{
    margin: 0;
    padding: 0;
}

.navigation{
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    height: 56px;
}

/* .navigation > div{
    border: 1px solid red ;
} */

.navigation button{
    /* border: none; */
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    line-height: 5px;
}

.navigation__button svg{
    fill: rgb(56, 56, 56);
}

.logo{
    width: 130px;
}

.searchBar{
    height: 30px;  
    
}



.navigation__menu,
.navigation__search,
.navigation__options{
    display: flex;
    align-items: center;
}

.navigation__menu{

}

.navigation__search{

}

.navigation__search input{
    width: 525px;
    height: 32px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 2px 10px;
}

.navigation__search__icon{
    border: 1px solid rgb(211, 211, 211);
    height: 32px;
    width: 65px;
    padding: 1px;
    border-left: none;
    
}

.navigation__search__icon svg{
    height: 20px;
    width: 20px;
}

.navigation__search__icon:hover{
    background-color: #e4e4e4;
}

.navigation__menu_button{
    line-height: 5px;
}

.navigation__options{
    display: flex;
}

.navigation__options .navigation__button{
    margin-right: 8px;
}

.navigation__button{
    height: 36px;
    width: 36px;
    border: none;
}

.navigation__avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block; 
}